<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SCC - Stories </title>

    <link rel="stylesheet" href="/css/themify-icons.css">
    <link rel="stylesheet" href="/css/feather.css">
    <!-- Favicon icon -->
    <link rel="icon" type="image/icon" href="/img/Logo/z4927355446925_f26f593ade54a16fa22d0a641db54722.png">
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/post.css">
    <link rel="stylesheet" href="/css/video-player.css">

</head>

<body class="color-theme-blue mont-font">

<div class="preloader"></div>
<form th:action="@{/uploadImg}" method="post" enctype="multipart/form-data">
    <div class="d-flex">
        <div class="modal bottom side fade" id="Modalstories" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document ">
                <div class="modal-content border-0  d-flex">
                    <div class="modal-body p-0">
                        <div class="card w-100 border-0 rounded-3  bg-gradiant-bottom bg-gradiant-top">
                            <div class="owl-carousel owl-theme dot-style3 story-slider owl-dot-nav nav-none w-450 h-800">
                                <div class="item"><img width="100%" height="100%"
                                                       src="https://i.pinimg.com/564x/a0/70/19/a07019359ca8e32a27e51571d827293c.jpg"
                                                       alt="image"></div>
                            </div>
                        </div>
                        <div class="form-group mt-3 mb-0 p-3 position-absolute bottom-0 z-index-1 w-100">
                            <div class="container">
                                <div class="panel">
                                    <div class="button_outer">
                                        <div class="btn_upload">
                                            <input type="file" id="upload_file" name="submitimg">Upload Image
                                        </div>
                                        <div class="processing_bar"></div>
                                        <div class="success_box"> <button style="background-color: whitesmoke;opacity: 0; border: none;" type="submit"> OK </button></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body d-block  w-100 position-absolute bottom-0 text-center">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <
</form>

<script src="/js/plugin.js"></script>
<script src="/js/scripts.js"></script>
<script src="/js/video-player.js"></script>

</body>

</html>

<script src="/js/plugin.js"></script>
<script src="/js/scripts.js"></script>
<script src="/js/video-player.js"></script>
<script src="/js/post.js"></script>

</body>

</html>