
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SCC - Register </title>
    <link rel="stylesheet" href="/css/themify-icons.css">
    <link rel="stylesheet" href="/css/feather.css">
    <!-- Favicon icon -->
    <link rel="icon" type="image/icon" href="/img/Logo/z4927355446925_f26f593ade54a16fa22d0a641db54722.png">

    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/emoji.css">

    <link rel="stylesheet" href="/css/lightbox.css">

</head>

<body class="color-theme-blue mont-font">

<div class="preloader"></div>


<div class="main-wrapper">
    <!-- navigation top-->
    <div class="nav-header bg-white shadow-xs border-0">
        <div class="nav-top  w-100 ">
            <a href="/homepage/defaultl">
                <img class="display1-size me-2 ms-0" style="width: 35px; border-radius: 50px"
                     src="/img/Logo/z4927355446925_f26f593ade54a16fa22d0a641db54722.png">
                <span
                        class="d-inline-block fredoka-font ls-3 fw-600 text-current font-xxl logo-text mb-0">SdoubleC</span>
            </a>
            <a href="#" class="mob-menu ms-auto me-2 chat-active-btn"><i
                    class="feather-message-circle text-grey-900 font-sm btn-round-md bg-greylight"></i></a>
            <a href="default-video.html" class="mob-menu me-2"><i
                    class="feather-video text-grey-900 font-sm btn-round-md bg-greylight"></i></a>
            <a href="#" class="me-2 menu-search-icon mob-menu"><i
                    class="feather-search text-grey-900 font-sm btn-round-md bg-greylight"></i></a>
            <button class="nav-menu me-0 ms-2"></button>

            <a href="/"
               class="header-btn d-none d-lg-block bg-dark fw-500 text-white font-xsss p-3 ms-auto w100 text-center lh-20 rounded-xl"
               data-toggle="modal" data-target="#Modallogin">Login</a>
            <a href="#"
               class="header-btn d-none d-lg-block bg-current fw-500 text-white font-xsss p-3 ms-2 w100 text-center lh-20 rounded-xl"
               data-toggle="modal" data-target="#Modalregister">Register</a>

        </div>


    </div>

    <div class="row">
        <div class="col-xl-5 d-none d-xl-block p-0 vh-100 bg-image-cover bg-no-repeat"
             style="background-image: url(https://i.pinimg.com/564x/36/5f/b0/365fb019379fc65014965c1ed8cb1566.jpg);"></div>
        <div class="col-xl-7 vh-100 align-items-center d-flex bg-white rounded-3 overflow-hidden">
            <div class="card shadow-none border-0 ms-auto me-auto login-card">
                <div class="card-body rounded-0 text-left">
                    <h2 class="fw-700 display1-size display2-md-size mb-4">Create <br>your account</h2>
                    <form enctype="multipart/form-data" th:action="@{/register/handle_register}" method="post"
                          th:object="${user_register}">

                        <div class="form-group icon-input mb-3">
                            <i class="font-sm ti-user text-grey-500 pe-0"></i>
                            <input type="text" class="style2-input ps-5 form-control text-grey-900 font-xsss fw-600"
                                   placeholder="Your Name" th:field="*{fullName}">
                            <p class="form-text text-danger" th:if="${#fields.hasErrors('fullName')}"
                               th:errors="*{fullName}"></p>
                        </div>
                        <div class="form-group icon-input mb-3">
                            <i class="font-sm ti-email text-grey-500 pe-0"></i>
                            <input type="text" class="style2-input ps-5 form-control text-grey-900 font-xsss fw-600"
                                   placeholder="Your Email Address" th:field="*{email}">
                            <p class="form-text text-danger" th:if="${#fields.hasErrors('email')}"
                               th:errors="*{email}"></p>
                        </div>
                        <div class="form-group icon-input mb-3">
                            <input type="password" class="style2-input ps-5 form-control text-grey-900 font-xss ls-3"
                                   placeholder="Password" th:field="*{password}">
                            <p class="form-text text-danger" th:if="${#fields.hasErrors('password')}"
                               th:errors="*{password}"></p>
                            <i class="font-sm ti-lock text-grey-500 pe-0"></i>
                        </div>
                        <div class="form-group icon-input mb-1">
                            <input type="password" class="style2-input ps-5 form-control text-grey-900 font-xss ls-3"
                                   placeholder="Confirm Password" th:field="*{rePassword}">
                            <p class="form-text text-danger" th:if="${#fields.hasErrors('rePassword')}"
                               th:errors="*{rePassword}"></p>
                            <i class="font-sm ti-lock text-grey-500 pe-0"></i>
                        </div>
                        <div class="form-group icon-input mb-3">
                            <i class="font-sm ti-id-badge text-grey-500 pe-0"></i>
                            <input type="text" class="style2-input ps-5 form-control text-grey-900 font-xsss fw-600"
                                   placeholder="Phone Number" th:field="*{phoneNumber}">
                            <p class="form-text text-danger" th:if="${#fields.hasErrors('phoneNumber')}"
                               th:errors="*{phoneNumber}"></p>
                        </div>

                        <div class="form-group icon-input mb-3">
                            <i class="font-sm ti-calendar text-grey-500 pe-0"></i>
                            <input type="date" class="style2-input ps-5 form-control text-grey-900 font-xsss fw-600"
                                   placeholder="Date Of Birth" th:field="*{dateOfBirth}">
                            <p class="form-text text-danger" th:if="${#fields.hasErrors('dateOfBirth')}"
                               th:errors="*{dateOfBirth}"></p>
                        </div>
                        <div class="form-group icon-input mb-3">
                            <i class="font-sm ti-gallery text-grey-500 pe-0"></i>
                            <input type="file"  class="style2-input ps-5 form-control text-grey-900 font-xsss fw-600" style="line-height: 40px"
                                   placeholder="Avatar" th:field="*{avatarUrl}">
                            <p class="form-text text-danger" th:if="${#fields.hasErrors('avatarUrl')}"
                               th:errors="*{avatarUrl}"></p>
                        </div>

                        <div class="form-check text-left mb-3">
                            <input type="checkbox" class="form-check-input mt-2" id="exampleCheck11">
                            <label class="form-check-label font-xsss text-grey-500" for="exampleCheck11">Accept Term and
                                Conditions</label>
                            <!-- <a href="#" class="fw-600 font-xsss text-grey-700 mt-1 float-right">Forgot your Password?</a> -->
                        </div>


                        <div class="col-sm-12 p-0 text-left">
                            <div class="form-group mb-1">
                                <button type="submit"
                                        class="form-control text-center style2-input text-white fw-600 bg-dark border-0 p-0 ">
                                    Register
                                </button>
                            </div>
                            <h6 class="text-grey-500 font-xsss fw-500 mt-0 mb-0 lh-32">Already have account <a
                                    href="/" class="fw-700 ms-1">Login</a></h6>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal Register -->
<div class="modal bottom fade" style="overflow-y: scroll;" id="Modalregister" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content border-0">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i
                    class="ti-close text-grey-500"></i></button>
            <div class="modal-body p-3 d-flex align-items-center bg-none">
                <div class="card shadow-none rounded-0 w-100 p-2 pt-3 border-0">
                    <div class="card-body rounded-0 text-left p-3">
                        <h2 class="fw-700 display1-size display2-md-size mb-4">Create <br>your account</h2>
                        <form>

                            <div class="form-group icon-input mb-3">
                                <i class="font-sm ti-user text-grey-500 pe-0"></i>
                                <input type="text" class="style2-input ps-5 form-control text-grey-900 font-xsss fw-600"
                                       placeholder="Your Name">
                            </div>
                            <div class="form-group icon-input mb-3">
                                <i class="font-sm ti-email text-grey-500 pe-0"></i>
                                <input type="text" class="style2-input ps-5 form-control text-grey-900 font-xsss fw-600"
                                       placeholder="Your Email Address">
                            </div>
                            <div class="form-group icon-input mb-3">
                                <input type="Password"
                                       class="style2-input ps-5 form-control text-grey-900 font-xss ls-3"
                                       placeholder="Password">
                                <i class="font-sm ti-lock text-grey-500 pe-0"></i>
                            </div>
                            <div class="form-group icon-input mb-1">
                                <input type="Password"
                                       class="style2-input ps-5 form-control text-grey-900 font-xss ls-3"
                                       placeholder="Confirm Password">
                                <i class="font-sm ti-lock text-grey-500 pe-0"></i>
                            </div>
                            <div class="form-check text-left mb-3">
                                <input type="checkbox" class="form-check-input mt-2" id="exampleCheck1">
                                <label class="form-check-label font-xsss text-grey-500" for="exampleCheck1">Accept Term
                                    and Conditions</label>
                                <!-- <a href="#" class="fw-600 font-xsss text-grey-700 mt-1 float-right">Forgot your Password?</a> -->
                            </div>
                        </form>

                        <div class="col-sm-12 p-0 text-left">
                            <div class="form-group mb-1"><a href="#"
                                                            class="form-control text-center style2-input text-white fw-600 bg-dark border-0 p-0 ">Register</a>
                            </div>
                            <h6 class="text-grey-500 font-xsss fw-500 mt-0 mb-0 lh-32">Already have account <a
                                    href="/login" class="fw-700 ms-1">Login</a></h6>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="/js/plugin.js"></script>
<script src="/js/scripts.js"></script>

</body>

</html>